.GameCard{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background: gray;
    margin: 10px 0;
    overflow: hidden;
}
.GameCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}