body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f9f6f9;
    font-family: 'Heebo', sans-serif;
}

.header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(110, 120, 146, 0.15);
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(6px);
    align-items: center;
}

.header nav button {
    background: #ffe984;
    padding: 10px 26px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    outline: none;
    border: 2px solid transparent;
    transition: 0.30s ease-in;
}

.header nav button:hover {
    border: 2px solid #ffe984;
    background: transparent;
}

/* =======ball ============ */

.header .Ball span {
    padding: 10px 15px;

    backdrop-filter: blur(2px);
    border-radius: 8px;
    margin: 0 10px;
}

.header .Ball .xato {
    background: rgba(255, 0, 0, 0.904);
}

.header .Ball .togri {
    background: rgb(4, 238, 4);
}

.header .avatar {
    display: flex;
    align-items: center;
}

.header .avatar .far {
    font-size: 40px;
    color: #5254f1;
}

.header .avatar .fas {
    
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.10s  ease-in;
    transform: rotate(180deg);
    margin-right: 2px;
}
.header .avatar span{
    padding: 6px 6px;
    background: #5254f1;
    color: #fff;
    border-radius: 10px;
}

.header .avatar .far:hover {

    color: #5255f19d;
}


/* ==================Medi 500px ===================== */
@media (max-width:576px) {
    .header {
        padding: 15px 20px;
    }

    .header .avatar .far {
        font-size: 25px;
    }

    .header nav img {
        width: 80px !important;
    }

    /* ==========balllll============ */

    .header .Ball span {
        padding: 2px 10px;
    
        backdrop-filter: blur(2px);
        border-radius: 5px;
        margin: 0 3px;
    }
    

    .header .avatar .fas {
        text-align: center;
        font-size: 12px;
    }
    .header .avatar span{
        font-size: 10px;
        padding: 4px 5px;
        background: #5254f1;
        color: #fff;
        border-radius: 5px;
        align-items: center;
    }
  .header nav button{
      padding: 5px 10px;
      font-size: 15px;
  }
}