.Login .d_None img {
    margin-top: 160px;
    width: 420px;
    height: 450px;
}

.Login {
    width: 100%;
    overflow: hidden !important;
    height: 100vh;
}

/* ============================ */
.special-label {
    display: none;
}

/* ================================ */
.Login .login_blok {
    width: 123%;
    height: 100vh;
    background: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   padding-top: 50px;
}

.Login .login_blok .logins {
    width: 430px;
    display: flex;
    flex-direction: column;
}
.Login .login_blok .logins h4{
    font-size: 20px;
}

.Login .login_blok .logins h5{
    font-size: 17px;
}

.Login .login_blok .logins input {
    padding: 5px 15px;
    background: #eceaec;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 100%;
}

.Login .login_blok .logins span {
    font-size: 13px;
    margin-top: 25px;
}

.Login .login_blok .logins h5 span {
    margin-left: 10px;
    font-size: 16px;
    color: gray;
    border-bottom: 2px solid gray;
    border-width: 0px;
    transition: 040s ease-in;
}

.Login .login_blok .logins .sendLogin {
    padding: 7px 0px;
    background: #5254f1;
    border-radius: 8px;
    color: #fff;
    margin-top: 30px;
    border: 3px solid transparent;
    outline: none;
    transition: 0.60s ease-in;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendLogin .loader{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    animation: btns 0.30s linear infinite;
    border-bottom: 2px solid transparent;
}
@keyframes btns {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



/* ==================media 1200px======================== */
/* ==================media 1200px======================== */
@media (max-width:1200px) {
    .Login .login_blok {
        width: 130%;
        height: 100vh;
    }

    .Login .login_blok .logins {
        width: 356px;
        display: flex;
        flex-direction: column;
    }

}



/* ==================media 992px======================== */
@media (max-width:992px){
    .Login .d_None img{
        width: 100%;
    }
    .Login .d_None2{
        position: absolute;
        left: 0;
    }
    .Login .d_None2 .login_blok{
        width: 100%;
        background: rgba(255, 255, 255, 0.658);
        backdrop-filter: blur(4px);
    }
    .Login .d_None img {
        margin-top: 160px;
        width: 600px;
        height: 500px;
    }
    .Login .login_blok .logins {
        width: 500px;
    }
    .Login input{
        background: #eceaec!important;
    }
  
}

@media (max-width:576px){
    .Login .d_None img {
        margin-top: 160px;
        width: 400px;
        height: 500px;
    }
    .Login .login_blok{
        padding-bottom: 20px;
    }
    .Login .login_blok .logins {
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .Login .login_blok .logins h2{
        font-size: 25px;
    }
    .Login .login_blok .logins h4{
        font-size: 20px;
    }
    .Login {
        width: 100%;
        overflow: scroll !important;
        height: 100vh;
    }
    .Login .login_blok .logins input{
        padding: 5px ;
    }
    .Login .login_blok .logins .sendLogin{
        padding: 5px;
    }
}

@media (max-width:440px){
    .Login .d_None img {
        margin-top: 150px;
        width: 300px;
        height: 500px;
    }
    .Login .login_blok .logins {
        width: 360px;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:370px){
    .Login .d_None img {
        margin-top: 150px;
        width: 250px;
        height: 500px;
    }
    .Login .login_blok .logins {
        width:250px;
        display: flex;
        flex-direction: column;
    }
    .Login .login_blok .logins h2{
        font-size: 20px;
    }
    .Login .login_blok .logins h4{
        font-size: 16px;
    }
}