.Subject {
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.Subje {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}


::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
    border-radius: 10px;
}

.Subject .leftBlok {
    width: 20%;
    height: 80vh;
    background: #fff;
    border-radius: 8px;
    margin-top: 80px;
    overflow-y: scroll;
}

.Subject .rightBlok {
    background: #fff;
    border-radius: 8px;
    width: 78%;
    height: 80vh;
    margin-top: 80px;
    padding: 15px;
    padding-top: 50px;

    overflow-y: scroll;
}


.quest{
    width: 98%;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    background-color: blue;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quest li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
  cursor: pointer;
}

@media (max-width:500px) {
    .Subject .rightBlok {
        background: #fff;
        border-radius: 8px;
        width: 68%;
        height: 80vh;
        margin-top: 80px;
        padding: 15px;
        overflow-y: scroll;
    }

    .Subje .rightBlok {
        width: 80%;
    }

    .Subject .leftBlok {
        width: 30%;
        height: 80vh;
    }

    .Subject .leftBlok ul {
        display: flex;
        flex-direction: column;
        text-align: justify !important;
    }

    .Subject .leftBlok  li {
        font-size: 15px;
        font-weight: 500;
    }
}